:root {
	--accent-colour: #7e74fa;
	--header-height: 56px;
	--header-padding: 10px;
	--kantighet: 6px;
}

html { /* visible when scroll bobs */
	background-color: #1a1a1a;
}

body {
	color: #fff;
	font-family: Ubuntu, 'Noto Sans', sans-serif;
	margin: 0;
	height: 100%;
	font-size: 11.5pt;
	background-color: #0a0a0a;
}

.content {
	border-top: 2px solid var(--accent-colour);
	max-width: 50em;
	padding: 0 20px 12px 20px;
	background-color: #121212;
	margin: 0 auto;
	margin-bottom: 12px;
	border-radius: var(--kantighet);
	min-height: calc(100vh - var(--header-height));
	border: 2px solid rgba(255, 255, 255, 0.067);
}

a {
	text-decoration: none;
	color: var(--accent-colour);
	outline: 0;
}

a:hover {
	text-decoration: underline;
}

header {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.067), rgba(0,0,0,0));
	height: calc(var(--header-height) - var(--header-padding) * 2);
	padding: var(--header-padding);
}

nav {
	max-width: 50em;
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 12px;
}

nav > a {
	background-color: #202020;
	padding: 6px 20px;
	border-radius: 8px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	transition: border-color .03s ease-out;
	color: white;
	display: flex;
	justify-content: center;
}

nav > a:hover {
	text-decoration: none;
	border-color: var(--accent-colour);
}

.line {
	border-top: 2px solid var(--accent-colour);
	flex-grow: 1;
}

h1 {
	margin: 16px 0 0 0;
	font-size: 2em;
}
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h2, h3 { margin-bottom: 4px; }

p {
	margin-top: 0;
	line-height: 20px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

ul h2 {
	font-weight: 400;
}

.desc {
	color: grey;
}

.sbs-img { /* side-by-side images */
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.sbs-img div {
	max-width: 45%;
}

.solo-img {
	display: block;
	margin: 0 auto;
	max-width: 50%;
}

div > video {
	max-width: 100%;
	max-height: 500px;
	height: auto;
	display: block;
	margin-bottom: 12px;
}

aside {
	background-color: #1f1f1f;
	border: 2px solid #262626;
	border-left: 4px solid grey;
	padding: 14px;
	border-radius: 4px;
	margin-bottom: 15px;
}

aside span { font-weight: bold }
.aside-content { margin: 0 }

.aside-update	  { border-left: 4px solid green }
.aside-warning	  { border-left: 4px solid orange }
.aside-disclaimer { border-left: 4px solid #eb152e }
.aside-fun-fact   { border-left: 4px solid #34a8eb }

.aside-update span { color: #32a852 }
.aside-warning span { color: orange }
.aside-disclaimer span { color: #eb152e }
.aside-fun-fact span { color: #34a8eb }

@media (prefers-color-scheme: light) {
	:root {
		--accent-colour: #6339cb;
	}

	body, html {
		background: #f1f1f1;
		color: #000;
	}

	.content {
		background-color: #fff;
		box-shadow: 0px 0px 20px 0px #d1d1d1;
	}

	.line {
		border-top: 2px solid #818181;
	}

	aside {
		background-color: #f1f1f1;
		border: 2px solid #e1e1e1;
	}
}

/* mobile */
@media only screen and (max-width: 700px) {
	.rem-mob { display: none; }
	nav { padding: 0; }
	.sbs-img { flex-direction: column; }
	.sbs-img div, .solo-img { max-width: 90%; }
}
