---
layout: default
---
<section class="home">
	<div class="aboutme">
		<div class="title">
			<div class="line left-side"></div>
			<h1>About me</h1>
			<div class="line right-side"></div>
		</div>
		<h4>I am bla bla and I do bla bla, sometimes I bla bla about bla bla but that's about it.</h4>
		<h4>This page is super duper unfinished and should probably not even be live</h4>
		<nav>
			{% for link in site.data.main_links %}
				<p><a href="{{ link.url }}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}{% if link.external %} &UpperRightArrow;{% endif %}</a></p>
			{% endfor %}
		</nav>
	</div>
	<div class="bottomnote">
		<img src="/assets/gspfp.jpeg">
		<h4>&#8212; &#183; &#8212;</h4>
	</div>
</section>

<div class="content">
	<section>
		<div class="title">
			<div class="line left-side"></div>
			<h1>Projects</h1>
			<div class="line right-side"></div>
		</div>
		<div class="projects">
			{% for repo in site.data.other_repos %}
				<div class="project {{ repo.language }}">
					<h2><a href="{{ repo.url }}">{{ repo.name }}</a></h2>
					<p>{{ repo.description }}</p>
					<h4>{{ repo.language }}</h4>
				</div>
			{% endfor %}
			{% for repo in site.github.public_repositories %}
				{% if site.data.repositories contains repo.name %}
					<div class="project {{ repo.language }}">
						<h2><a href="{{ repo.html_url }}">{{ repo.name }}</a></h2>
						<p>{{ repo.description }}</p>
						<h4 id="lang">{{ repo.language }}</h4>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>

	<section class="darkersection growsmost">
		<div class="title">
			<div class="line left-side"></div>
			<h1>Blog Posts</h1>
			<div class="line right-side"></div>
		</div>
		{% for post in site.posts limit:10 %}
			<div class="blogpostpreview">
				<p class="postdate">{{ post.date | date: "%Y-%m-%d" }}</p>
				<p class="forcesingleline"><a href="{{ post.url }}">{{ post.title }}</a></p>
			</div>
		{% endfor %}
	</section>

	<footer>
		<h3>Blinieth {{ 'now' | date: "%Y" }}</h3><p>Made with >:( in Sweden</p>
	</footer>
</div>
