---
layout: default
---
<link async href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1>Projects</h1>
<div class="short"><hr /></div>
<h3>
	Hi! All of my projects are located here.
	Click <i class="material-icons">code</i> to view the code on GitHub,
	or click <i class="material-icons">file_download</i> to download the latest release.
	<br />
	Some projects may not have any releases, because they're still in early development.
	<br />
	Maintained projects may be moved due to temporary project inactivity.
</h3>
<h2>Actively maintained projects</h2>
<div class="short"><hr /></div>

<style type="text/css">
	.CSS:hover > .entry { border-bottom: 2px solid #563d7c }
	.Go:hover > .entry { border-bottom: 2px solid #00add8 }
	.HTML:hover > .entry { border-bottom: 2px solid #e34c26 }
	.Java:hover > .entry { border-bottom: 2px solid #b07219 }
	.JavaScript:hover > .entry { border-bottom: 2px solid #f1e05a }
	.Ruby:hover > .entry { border-bottom: 2px solid #701516 }
	.Rust:hover > .entry { border-bottom: 2px solid #dea584 }
	.Swift:hover > .entry { border-bottom: 2px solid #ffac45 }
</style>

{% for repo in site.github.public_repositories %}
	{% unless repo.fork %}
	{% unless site.data.unmaintained contains repo.name %}
		<div class="entry-wrapper {{ repo.language }}">
			<div class="entry">
				<div class="title">
					<span>{{ repo.name }}</span>
					<i class="material-icons">star</i>{{ repo.stargazers_count }}
					<br />
					<a href="{{ repo.html_url }}/releases/latest">
						<i class="material-icons {{ repo.language }}">file_download</i>
					</a>
					<a href="{{ repo.html_url }}">
						<i class="material-icons {{ repo.language }}">code</i>
					</a>
				</div>
				<h4 class="description">{{ repo.description }}</h4>
				<div class="forcebottom">
					<i class="grey">{{ repo.language }}</i>
				</div>
			</div>
		</div>
	{% endunless %}
	{% endunless %}
{% endfor %}

<h2>Other things I've done</h2>
<div class="short"><hr /></div>
<h3><a href="https://github.com/discordconsole-team/DiscordConsole">DiscordConsole</a></h3>
<h3><a href="https://ish.app">iSH Website</a></h3>
<!-- Sorted by name. DiscordConsole is on DC's organisation and is not listed automatically. -->

<h2>No longer <b style="font-weight: 700">actively</b> maintained projects</h2>
<div class="short"><hr /></div>
{% for repo in site.github.public_repositories %}
	{% if site.data.unmaintained contains repo.name %}
		<div class="entry-wrapper {{ repo.language }}">
			<div class="entry">
				<div class="title">
					<span>{{ repo.name }}</span>
					<br />
					<a href="{{ repo.html_url }}/releases/latest">
						<i class="material-icons">file_download</i>
					</a>
					<a href="{{ repo.html_url }}">
						<i class="material-icons">code</i>
					</a>
				</div>
				<h4 class="description">{{ repo.description }}</h4>
				<div class="forcebottom">
					<i class="grey">{{ repo.language }}</i>
				</div>
			</div>
		</div>
	{% endif %}
{% endfor %}
<div class="short" style="padding-bottom: 10px"><hr /></div>