<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<title>{{ site.title }}</title>
		<link async rel="stylesheet" type="text/css" href="/style.css">

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/assets/icon.png" />
		<link async href="https://fonts.googleapis.com/css?family=Ubuntu:400" rel="stylesheet"> 

		<meta name="description" content="{{ site.description }}">
		<meta property="og:image" content="/assets/icon.png" />
		<meta property="og:url" content="{{ site.url }}" />
		<meta property="og:title" content="{{ site.title }}" />
		<meta property="og:description" content="{{ site.description }}" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_GB" />
		<meta name="theme-color" content="#34a8eb">
		<script> </script> <!-- Why this stops CSS transitions firing on load is fully past me. -->
	</head>
	<body>
		{{ content }}
	</body>
</html>
