<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.title }} | Blog</title>
		<link rel="stylesheet" href="/blog.css" />
        
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" type="image/png" href="/assets/icon.png"/>

		<meta name="description" content="{{ site.description }}">
		<meta property="og:image" content="/assets/gspfp.jpeg" />
		<meta property="og:url" content="{{ site.url }}" />
		<meta property="og:title" content="{{ site.title }}" />
		<meta property="og:description" content="{{ site.description }}" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_GB" />
		<meta name="theme-color" content="#161518">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				{% if page.updated %}
				<a href="https://github.com/{{ site.repository }}/commits/v4/{{ page.path }}">History</a>
				{% endif %}
				<div class="line right-side"></div>
			</nav>
		</header>
		<div class="content">
			<h1>{{ page.title }}</h1>
			<p class="desc">{{ page.created }}{% if page.updated %}, last updated on {{ page.updated }}{% endif %}</p>
			{{ content }}
		</div>
	</body>
</html>
